/* stijlregels die enkel voor 404 van toepassing zijn */

body {
    color: #000000;
    background-image: url(../foto/error404.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

section > p {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 2rem;
}

section > h1 {
    font-family: Quicksand, sans-serif;
    font-size: 25rem;
    color: #ffffff;
}

section {
    text-align: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 992px) {
    div > h1 {
        font-size: 16rem;
    }
}

@media (max-width: 700px) {
    div > h1 {
        font-size: 11rem;
    }
}

/*

h1 {
    font-size: 110px;
    color: #000000;
    top: 50%;
    left: 50%;

}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-85%);
}

p i {
    color: black;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.tekst-error {
    font-size: 15px;
    top: 90%;
    left: 50%;

}


a:link {
    text-align: right;
    text-decoration: underline;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;

}

!*
===========
medium
===========
*!
@media (min-width: 700px) {

    h1 {
        font-size: 120px;

    }

    h2 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 32px;
        color: #000000;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%) translateY(-85%);
    }


    .tekst-error {
        font-size: 22px;
        top: 95%;
        left: 50%;

    }

}

!*
===========
groot
===========
*!
@media (min-width: 900px) {

    h1 {
        font-size: 125px;

    }

    h2 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 33px;
        color: #000000;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%) translateY(-85%);
    }

    .tekst-error {
        font-size: 23px;
        top: 95%;
        left: 50%;

    }
}

!*
===========
extra groot
===========
*!
@media (min-width: 1100px) {

    h1 {
        font-size: 130px;

    }

    h2 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 35px;
        color: #000000;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%) translateY(-85%);
    }

    .tekst-error {
        font-size: 25px;
        top: 95%;
        left: 50%;
    }

}
*/
