/*basisstijl*/

body {
    font-family: tahoma, sans-serif;
    background-color: lightcyan;
    color: black;
}

a:link {
    background-color: inherit;
    color: whitesmoke;
}

a:visited {
    background-color: inherit;
    color: whitesmoke;
}

a:hover {
    background-color: #000;
    color: whitesmoke;
}

a:active {
    background-color: inherit;
    color: blue;
}

nav ul {
    display: flex;
    padding: 2p;
    list-style: none;
}

nav ul a {
    color: red;
    line-height: 30px;
    font-weight: bold;
    padding-left: 10px;
}

body {
    background-color: blue;
    color: #000;
    background-image: url(../images/patroon.png);
}

nav li {
    color: lightblue;
    background-color: cadetblue;
    flex: 1 1 100%;
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px 1 100%;
    font-family: monospace;
    font-size: 25px;
    font-style: oblique;
    text-align: center;
}

nav li a {
    flex: 1 1 100%;
}
