* {
    padding: 0;
    margin: 0;
}

/*
body basis
*/
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #ff0000;
    color: #FFFF00;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;

}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    flex: 1 1 100%;
    padding: 10px;
    width: 60px;

    font-family: Orbitron, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;

    background-color: #000015;
    border: 2px solid white;
    border-radius: 25px;
    justify-content: space-around;
    margin: 2px;
}

nav ul li:hover {
    background-color: black;
}

h2 {
    line-height: 50px;

}


h1,
h2 {
    margin: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h2 {
    padding: 25px 0 25px 0;

    font-family: "Ubuntu Mono", serif;
    font-size: 44px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
    color: #FFFF00;


}


h2:hover,
footer a {
    color: #FFFF00;
    background-color: #ff0000;
}

/*
===========
medium
===========
*/
@media (min-width: 768px) {
    body {
        background-color: black;
        color: white;
    }

    h2,
    h2:hover,
    footer a {
        color: white;
        background-color: transparent;
    }

    a {
        color: white;
    }

    h2 {
        font-size: 40px;
        margin: 50px;
        text-transform: uppercase;
        font-family: Orbitron, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 15px;
        text-align: center;

    }

}

/*
===========
groot
===========
*/
@media (min-width: 992px) {
    body {
        background-color: #f3eae3;
        color: #352C0E;
    }

    h1,
    h2,
    h2:hover,
    footer a {
        color: #303030;
        background-color: #f3eae3;
    }

    a {
        color: #352C0E;
    }


    h2 {
        margin: 0 0 25px;
        text-transform: none;
        text-align: left;
        font-family: "Miss Fajardose", serif;
        font-size: 74px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26px;
    }

    .col-12 {
        margin-bottom: 20px;
    }

    .animation {
        transition: all .4s ease-in-out;
    }

    .animation:hover {
        transform: scale(1.1);
    }

    nav ul li {
        background-color: transparent;
        border: 3px solid #352C0E;
        border-radius: 5px 0 5px 0;
        justify-content: center;
        margin: 10px;
        padding: 20px;
        font-family: "Miss Fajardose", serif;
        font-size: 34px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 15px;
    }

    nav ul li:hover {
        background-color: #feebed;
    }
}
